.add-customer{
    position: absolute;
    width: 790px;
    height: 785px;
    left: 102px;
    top: 103px;
    background: #FFFFFF;
    border-radius: 14px;
}

.profile-cust-btn{
    text-align: center;
    margin-top: 190px;
}
